.mesa {
    display: block;
  }
  
  .tema {
    display: flex;
    justify-content: center;
  }
  
  .mesaVerde {
    display: flex;
    align-items: center;
  }

  .code{
    position: absolute;
    font-family: 'Inconsolata';
    font-size: 22px;
  }

  .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }