<div class="mesa">
    <div class="tema">
      <h1>@Input and @Output</h1>
    </div>
    <div class="mesaVerde">
      <app-card
        name="A"
        naipe="&clubs;"
        color="black"
        (cardClickd)="displayCounter($event)"
      ></app-card>
      <app-card
        name="A"
        naipe="&hearts;"
        color="red"
        (cardClickd)="displayCounter($event)"
      ></app-card>
      <app-card
        name="A"
        naipe="&diams;"
        color="red"
        (cardClickd)="displayCounter($event)"
      ></app-card>
      <app-card
        name="A"
        naipe="&spades;"
        color="black"
        (cardClickd)="displayCounter($event)"
      ></app-card>
    </div>
  </div>
  
