.mesa {
    display: block;
  }
  
  .tema {
    display: flex;
    justify-content: center;
  }
  
  .mesaVerde {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  